@font-face {
    font-family: "Acumin Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/acumin-pro/Acumin-RPro.otf") format("opentype");
}

@font-face {
    font-family: "Acumin Pro";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/acumin-pro/Acumin-ItPro.otf") format("opentype");
}

@font-face {
    font-family: "Acumin Pro";
    font-style: bold;
    font-weight: 600;
    src: url("../fonts/acumin-pro/Acumin-BdPro.otf") format("opentype");
}

@font-face {
    font-family: "Acumin Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/acumin-pro/Acumin-BdPro.otf") format("opentype");
}

@font-face {
    font-family: "Acumin Pro";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/acumin-pro/Acumin-BdItPro.otf") format("opentype");
}
